html,
body,
h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
  line-height: 1;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  border: none;
  vertical-align: bottom;
  max-width: 100%;
}

html {
  font-size: 62.5%;
}

body {
  background: #fff;
  color: #333;
  font-size: 1.6rem;
  font-family: "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo,
    sans-serif;
  width: 800px;
  margin: 0 auto;
  min-height: 100vh;
  display: grid;
  grid-template:
    "header header header header header" 100px
    "..... ..... ..... ..... ....." 10px
    "left ..... center ..... right" 1fr
    "..... ..... ..... ..... ....." 10px
    "footer footer footer footer footer" max-content
    / 150px 10px 1fr 10px 180px;
}

.header {
  background-color: darkgray;
  grid-area: header;
}

.nav {
  background-color: darkorange;
  grid-area: left;
}

.main {
  background-color: darkred;
  grid-area: center;
}

.aside {
  background-color: deepskyblue;
  grid-area: right;
}

.footer {
  background-color: deeppink;
  grid-area: footer;
}

@media screen and (max-width: 1000px) {
  body {
    grid-template:
      "header" 100px
      "center" 1fr
      "left"
      "right"
      "footer" min-content;
  }
}
