html,
body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
  line-height: 1;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  border: none;
  vertical-align: bottom;
  max-width: 100%;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background: #fff;
  color: #333;
  font-size: 1.6rem;
  font-family: "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo,
    sans-serif;
}

*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

.header {
  background-color: #333333;
  color: #fafafa;
  display: grid;
  grid-template-columns: 7, 5rem max-content;
  padding: 1rem 2.5rem;
}

.banner {
  background-color: #ededed;
  min-height: calc(100vh - 36px);
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(3, 1fr);
  &__container {
    background-color: royalblue;
    grid-column: 1 / 4;
    grid-row: 1 / 4;
  }
  &__content {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    z-index: 3;
    justify-self: center;
    align-self: center;
    text-align: center;
  }
  &__title {
    color: #fafafa;
    font-size: 4rem;
    text-transform: uppercase;
  }
}

.about {
  background-color: #ededed;
  display: grid;
  grid-template-columns: 25rem repeat(2, mimax(0, 1fr)) 25rem;
  grid-template-rows: 20rem 1fr 20rem;
  grid-template-areas:
    ". title title ."
    ". left-content right-content ."
    "figures figures figures figures";
  width: 100%;
  &__title {
    grid-area: title;
    text-align: center;
    align-self: center;
  }
  &__left-content {
    grid-area: left-content;
    font-size: 2.6;
  }
  &__right-content {
    grid-area: right-content;
    font-size: 2.6;
  }

  &__figures {
    grid-area: figures;
    display: grid;
    grid-template-columns: repeat(3, 20rem);
    justify-content: space-evenly;
    align-self: center;
    text-align: center;
  }
}

.menu {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 35vw));
  grid-template-rows: 20rem 1fr 10rem;
  grid-gap: 2rem;
  justify-content: center;
  &__title {
    grid-column: span 2;
    text-align: center;
    align-self: center;
  }
  &__item {
    display: grid;
    grid-template-columns: 10rem 1fr min-content;
    grid-column-gap: 1.5rem;
    align-items: center;
    &:not(:last-of-type) {
      margin-bottom: 2rem;
    }
  }
  &__item-line {
    width: 100%;
    border-bottom: 2px solid #ededed;
    align-self: center;
  }
  &__item-container {
    display: grid;
    grid-template-columns: max-content 1fr;
    h3 {
      font-size: 1.8rem;
      text-transform: uppercase;
      font-weight: 500;
      margin-bottom: 8px;
    }
  }
  &__item-price {
    color: red;
  }
}

.image {
  width: 50px;
  height: 50px;
  background-color: cyan;
}

.reserve {
  background-color: lightcyan;
  display: grid;
  grid-template-rows: 30rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  & > div {
    display: grid;
    grid-gap: 10px;
  }
  &__link {
    background-color: red;
    padding: 20px;
  }
}

.gallery {
  display: grid;
  grid-template-rows: 20rem 1fr 10rem;
  &__title {
    text-align: center;
    align-self: center;
  }
}

.images {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 10rem);
  grid-gap: 1rem;
}

.img-1 {
  background-color: bisque;
  grid-column: span 2;
  grid-row: span 2;
}

.img-2 {
  background-color: rgb(182, 100, 0);
  grid-column: span 2;
  grid-row: span 2;
}

.img-3 {
  background-color: rgb(118, 212, 255);
  grid-column: span 2;
  grid-row: span 3;
}

.img-4 {
  background-color: rgb(255, 102, 209);
  grid-column: span 2;
  grid-row: span 4;
}

.img-5 {
  background-color: rgb(255, 88, 88);
  grid-column: span 2;
}

.img-6 {
  background-color: rgb(219, 255, 88);
  grid-column: span 2;
  grid-row: span 3;
}

.img-7 {
  background-color: rgb(145, 255, 163);
  grid-column: span 2;
  grid-row: span 3;
}

.delivery {
  background-color: #ededed;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 35vw));
  grid-template-rows: 20rem;
  grid-gap: 2rem;
  align-items: center;
  justify-content: center;
  &__title {
    grid-column: span 2;
    text-align: center;
    align-self: center;
    margin-bottom: 2rem;
  }
  &__links {
    display: grid;
    grid-template-columns: repeat(4, 5rem);
    justify-content: center;
  }
  &__link {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: blue;
  }
}

.news {
  display: grid;
  grid-template-rows: 20rem 1fr 10rem;
  justify-content: center;
  &__title {
    grid-column: span 2;
    text-align: center;
    align-self: center;
  }
}

.blog {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  & article {
    display: grid;
    grid-template-rows: auto 1fr;
    max-width: 30rem;
  }
  &__img {
    width: 100%;
    max-width: 600px;
    height: 400px;
    background-color: cornflowerblue;
    margin-bottom: 1rem;
    position: relative;
  }
  &__flipped {
    & .blog__img {
      grid-row: 2 / 3;
    }
  }
  &__share {
    &--btn {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: rgb(238, 55, 255);
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
  &__title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  &__text {
    margin-bottom: 1rem;
  }
}

.read-more {
  color: crimson;
}
